<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px" />

# Excel Madness Lab!

_Author:_ Tim Book

## Our Mission
We work for a large supermarket chain, with stores in 10 major cities that happen to coincide with General Assembly campuses. However, this company's idea of a "database" is just a bunch of Excel spreadsheets! In order to analyze our data, we're going to need to process the existing data into a form we can use. **Our end goal is to have one csv per city.**

## Cleanup Duty!
It is a hard truth that data scientists spend a large majority of their time cleaning data. Data never arrives on our desks in exactly the format in which we want it, and it's up to us to transform it to a workable format.

Being good cleaning, moving, and reshaping data is in itself a valuable and employable job skill. If you follow these directions exactly, we will walk through constructing an automated process for processing data from this supermarket chain.

# Part I: Processing

### Step 1: Imports and the `os` library
We're going to import three libraries: numpy, pandas, and `os`.

In [1]:
# Import libraries here.
import numpy as np 
import pandas as pd 
import os as os

The `os` library is extremely useful for performing system commands from within Python. Let's get two pieces of overhead out of the way now:

1. Create an `output` folder using `os.mkdir()`
2. Create a variable called `files` that is the list of files in the `data` folder using `os.listdir()`

**WARNING:** The `os.mkdir()` function will give you an error if you try to make a folder that already exists!

In [2]:
# Create an output folder.
#os.mkdir('/users/dmarm/downloads/excellab')
# Create a files variable that contains all of our data files.

In [3]:
files = os.listdir('data')

In [4]:
files

['Jan 1.xlsx',
 'Jan 10.xlsx',
 'Jan 11.xlsx',
 'Jan 12.xlsx',
 'Jan 13.xlsx',
 'Jan 14.xlsx',
 'Jan 15.xlsx',
 'Jan 16.xlsx',
 'Jan 17.xlsx',
 'Jan 18.xlsx',
 'Jan 19.xlsx',
 'Jan 2.xlsx',
 'Jan 20.xlsx',
 'Jan 21.xlsx',
 'Jan 22.xlsx',
 'Jan 23.xlsx',
 'Jan 24.xlsx',
 'Jan 25.xlsx',
 'Jan 26.xlsx',
 'Jan 27.xlsx',
 'Jan 28.xlsx',
 'Jan 29.xlsx',
 'Jan 3.xlsx',
 'Jan 30.xlsx',
 'Jan 31.xlsx',
 'Jan 4.xlsx',
 'Jan 5.xlsx',
 'Jan 6.xlsx',
 'Jan 7.xlsx',
 'Jan 8.xlsx',
 'Jan 9.xlsx']

### Step 2: Process one data frame
It looks like we have data for the month of January. 31 files of 10 sheets each! Luckily they are all in the same format. So let's read just one in and process that. It might be helpful to open one up in your spreadsheet viewer of choice first (Excel, Numbers, Sheets, etc.)

In [74]:
# Read in data from your city from January 1st.
jan_1 = pd.read_excel('data/Jan 1.xlsx', sheet_name='Atlanta')

In [6]:
jan_1

     prodcode  price_eu  weight_kg  quantity
0        4134  1.803357   7.107002     315.0
1        4011  1.906416   9.722703     429.0
2        4062  1.747032   2.245984     365.0
3        4159  1.827062   5.054962     287.0
4        4404  1.457843   5.406130     444.0
..        ...       ...        ...       ...
191      4404  0.830037   3.339435     373.0
192      4078  1.744919   4.904047     203.0
193      4412  0.965750   1.887790     387.0
194      4323  1.101243   1.298194     296.0
195      4958  2.521259   6.700678     464.0

[196 rows x 4 columns]

### Step 2a: Convert to 'Merican columns
For whatever reason, our data are stored in euros and kilograms. Create `price_usd` and `weight_lb` columns. There are 2.2 pounds per kilogram, and 1.1 dollars per euro.

In [7]:
jan_1['price_usd'] = jan_1['price_eu']*1.1
jan_1['weight_lb'] = jan_1['weight_kg']*2.2

### Step 2b: Merge in product names
You'll notice we also have a `plu-codes.csv` file containing actual product names matched up against their price lookup (PLU) codes. Let's merge these product names onto our Jan 1 data.
* _Hint 1:_ What kind of merge is this? Right, left, inner, outer, etc.?
* _Hint 2:_ Pay special attention to column names!

In [8]:
plu = pd.read_csv("plu-codes.csv")

In [9]:
jan_1 =jan_1.join(plu, lsuffix="_left", rsuffix="_right")

### Step 2c: Drop unnecessary columns
We've created some extraneous columns. Drop the old price and weight columns, as well as any redundant columns.

In [10]:
jan_1.head()

,prodcode,price_eu,weight_kg,quantity,price_usd,weight_lb,product,plu_code
0,4134,1.803357,7.107002,315.0,1.983693,15.635404,Apple (Fuji),4131.0
1,4011,1.906416,9.722703,429.0,2.097058,21.389947,Apple (Gala),4134.0
2,4062,1.747032,2.245984,365.0,1.921736,4.941165,Apricot,3302.0
3,4159,1.827062,5.054962,287.0,2.009768,11.120917,Avocado,4225.0
4,4404,1.457843,5.406130,444.0,1.603627,11.893485,Banana,4011.0

In [11]:
jan_1.drop(['price_eu', 'weight_kg', 'plu_code'], axis =1, inplace =True)

### Step 2d: Add the date
Simply create a new `date` column that is the date this data was collected. For example, if this is from `Jan 1.xlsx`, this column should be full of `Jan 1`.

In [12]:
jan_1['date']= 'Jan 1'

### Step 3: Write a function that conducts all of Step 2
This function should import a **filename and a city name** and return a fully processed DataFrame. That is, the function should:
1. Read in the data from the given file and city.
1. Create USD and pound columns.
1. Merge in product names.
1. Drop unnecessary columns.
1. Add a date column

In [69]:
def process_data(file, city):
    df = pd.read_excel('data/' + file, sheet_name = city)
    df['price_usd'] = df['price_eu']*1.1
    df['weight_lb'] = df['weight_kg']*2.2
    df =df.join(plu, lsuffix="_left", rsuffix="_right")
    df.drop(['price_eu', 'weight_kg', 'plu_code'], axis =1, inplace =True)
    sp_2 = file.split('.')
    df['date'] = sp_2[0]
    df['city'] = city
    return df

Test your function out on a new file and city!

In [70]:
process_data('Jan 10.xlsx', 'Los Angeles')

,prodcode,quantity,price_usd,weight_lb,product,date,city
0,4272,374.0,3.215805,18.458957,Apple (Fuji),Jan 10,Los Angeles
1,4134,386.0,1.101397,4.144168,Apple (Gala),Jan 10,Los Angeles
2,4650,254.0,2.462905,16.272903,Apricot,Jan 10,Los Angeles
3,4309,220.0,1.402996,13.852859,Avocado,Jan 10,Los Angeles
4,4012,326.0,2.383897,10.723717,Banana,Jan 10,Los Angeles
...,...,...,...,...,...,...,...
194,4650,213.0,1.305891,5.691630,NaN,Jan 10,Los Angeles
195,4796,290.0,1.865070,19.355372,NaN,Jan 10,Los Angeles
196,4012,448.0,3.055497,7.577243,NaN,Jan 10,Los Angeles
197,4030,391.0,1.092079,19.929001,NaN,Jan 10,Los Angeles
198,3302,327.0,1.411257,3.863512,NaN,Jan 10,Los Angeles

### Step 4: Process all of January's data
For each spreadsheet, process the data and store the resulting DataFrame in one big list. **You only need to do this for your city!**

* _Hint 1:_ A listcomp would make this whole step one line of code!
* _Hint 2:_ You've already made that `files` variable to help you here.

In [15]:
city_df =[process_data('data/'+file,'Los Angeles') for file in files]

C:\Users\dmarm\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:214: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [16]:
city_df

[     prodcode  quantity  price_usd  weight_lb       product   date  \
 0        4134     315.0   1.983693  15.635404  Apple (Fuji)  Jan 1
 1        4011     429.0   2.097058  21.389947  Apple (Gala)  Jan 1
 2        4062     365.0   1.921736   4.941165       Apricot  Jan 1
 3        4159     287.0   2.009768  11.120917       Avocado  Jan 1
 4        4404     444.0   1.603627  11.893485        Banana  Jan 1
 ..        ...       ...        ...        ...           ...    ...
 191      4404     373.0   0.913040   7.346757           NaN  Jan 1
 192      4078     203.0   1.919411  10.788904           NaN  Jan 1
 193      4412     387.0   1.062325   4.153138           NaN  Jan 1
 194      4323     296.0   1.211368   2.856027           NaN  Jan 1
 195      4958     464.0   2.773385  14.741491           NaN  Jan 1

             city
 0    Los Angeles
 1    Los Angeles
 2    Los Angeles
 3    Los Angeles
 4    Los Angeles
 ..           ...
 191  Los Angeles
 192  Los Angeles
 193  Los Angeles
 194  Los Angeles
 195  Los Angeles

 [196 rows x 7 columns],
      prodcode  quantity  price_usd  weight_lb       product    date  \
 0        4272     374.0   3.215805  18.458957  Apple (Fuji)  Jan 10
 1        4134     386.0   1.101397   4.144168  Apple (Gala)  Jan 10
 2        4650     254.0   2.462905  16.272903       Apricot  Jan 10
 3        4309     220.0   1.402996  13.852859       Avocado  Jan 10
 4        4012     326.0   2.383897  10.723717        Banana  Jan 10
 ..        ...       ...        ...        ...           ...     ...
 194      4650     213.0   1.305891   5.691630           NaN  Jan 10
 195      4796     290.0   1.865070  19.355372           NaN  Jan 10
 196      4012     448.0   3.055497   7.577243           NaN  Jan 10
 197      4030     391.0   1.092079  19.929001           NaN  Jan 10
 198      3302     327.0   1.411257   3.863512           NaN  Jan 10

             city
 0    Los Angeles
 1    Los Angeles
 2    Los Angeles
 3    Los Angeles
 4    Los Angeles
 ..           ...
 194  Los Angeles
 195  Los Angeles
 196  Los Angeles
 197  Los Angeles
 198  Los Angeles

 [199 rows x 7 columns],
      prodcode  quantity  price_usd  weight_lb       product    date  \
 0        4412     195.0   1.681977  19.784237  Apple (Fuji)  Jan 11
 1        4062     312.0   1.010750  15.186016  Apple (Gala)  Jan 11
 2        4081     120.0   3.220461  18.251387       Apricot  Jan 11
 3        4796     324.0   1.491278   8.675337       Avocado  Jan 11
 4        4309     234.0   1.991142  15.565499        Banana  Jan 11
 ..        ...       ...        ...        ...           ...     ...
 163      4131     124.0   1.817178  19.625793           NaN  Jan 11
 164      4012     299.0   2.549642   3.621892           NaN  Jan 11
 165      4012     129.0   2.061991  12.068127           NaN  Jan 11
 166      4159     450.0   0.861370   7.666306           NaN  Jan 11
 167      4309     379.0   2.981847  15.787398           NaN  Jan 11

             city
 0    Los Angeles
 1    Los Angeles
 2    Los Angeles
 3    Los Angeles
 4    Los Angeles
 ..           ...
 163  Los Angeles
 164  Los Angeles
 165  Los Angeles
 166  Los Angeles
 167  Los Angeles

 [168 rows x 7 columns],
      prodcode  quantity  price_usd  weight_lb       product    date  \
 0        4030     183.0   2.957097  20.805733  Apple (Fuji)  Jan 12
 1        4078     483.0   0.758261   9.043684  Apple (Gala)  Jan 12
 2        4078     164.0   1.028844   7.690118       Apricot  Jan 12
 3        3302     208.0   1.881261   6.577639       Avocado  Jan 12
 4        4650     404.0   1.143986  20.785048        Banana  Jan 12
 ..        ...       ...        ...        ...           ...     ...
 141      4240     390.0   2.074017  19.031482           NaN  Jan 12
 142      4323     133.0   0.674625  14.090403           NaN  Jan 12
 143      4958     107.0   0.805684   4.596789           NaN  Jan 12
 144      4159     485.0   0.859662  15.199625           NaN  Jan 12
 145      4412     473.0   3.261675  10.694214           NaN  Jan 12

             city
 0    Los Angeles
 1    Los Angeles
 2    Los Angeles
 3    Los Angeles
 4    Los Angeles
 ..           ...
 141  Los Angeles
 142  Los Angeles
 143  Los Angeles
 144  Los Angeles
 145  Los Angeles

 [146 rows x 7 columns],
      prodcode  quantity  price_usd  weight_lb       product    date  \
 0        4078     264.0   2.566842  17.045622  Apple (Fuji)  Jan 13
 1        4012     255.0   2.205960   6.019106  Apple (Gala)  Jan 13
 2        4309     262.0   2.003649  21.422124       Apricot  Jan 13
 3        4062     146.0   0.580387   9.886756       Avocado  Jan 13
 4        4323     500.0   1.723473  21.598284        Banana  Jan 13
 ..        ...       ...        ...        ...           ...     ...
 146      4078     431.0   1.382112   7.404059           NaN  Jan 13
 147      4650     283.0   1.690954   3.965623           NaN  Jan 13
 148      4796     131.0   3.210484  10.329739           NaN  Jan 13
 149      4650     247.0   2.871262  13.128005           NaN  Jan 13
 150      4078     448.0   1.443665  20.288426           NaN  Jan 13

             city
 0    Los Angeles
 1    Los Angeles
 2    Los Angeles
 3    Los Angeles
 4    Los Angeles
 ..           ...
 146  Los Angeles
 147  Los Angeles
 148  Los Angeles
 149  Los Angeles
 150  Los Angeles

 [151 rows x 7 columns],
      prodcode  quantity  price_usd  weight_lb       product    date  \
 0        4404     191.0   1.480890  18.983176  Apple (Fuji)  Jan 14
 1        4225     139.0   1.775682  15.380561  Apple (Gala)  Jan 14
 2        4081     126.0   2.602726  15.383885       Apricot  Jan 14
 3        4081     288.0   1.663586  20.730404       Avocado  Jan 14
 4        4309     345.0   2.977572  19.375870        Banana  Jan 14
 ..        ...       ...        ...        ...           ...     ...
 156      4650     349.0   0.737346  11.525418           NaN  Jan 14
 157      3302     375.0   1.672432  19.281337           NaN  Jan 14
 158      4078     358.0   1.732427  10.289874           NaN  Jan 14
 159      4796     491.0   2.178976   4.597470           NaN  Jan 14
 160      4412     265.0   1.958697  12.496575           NaN  Jan 14

             city
 0    Los Angeles
 1    Los Angeles
 2    Los Angeles
 3    Los Angeles
 4    Los Angeles
 ..           ...
 156  Los Angeles
 157  Los Angeles
 158  Los Angeles
 159  Los Angeles
 160  Los Angeles

 [161 rows x 7 columns],
      prodcode  quantity  price_usd  weight_lb       product    date  \
 0        4159     202.0   1.902146  17.130927  Apple (Fuji)  Jan 15
 1        4240     195.0   2.608084   6.614956  Apple (Gala)  Jan 15
 2        4134     463.0   2.200704  14.980789       Apricot  Jan 15
 3        4078     167.0   2.235436  12.456650       Avocado  Jan 15
 4        4081     457.0   2.017720  17.731368        Banana  Jan 15
 ..        ...       ...        ...        ...           ...     ...
 177      4030     446.0   1.912232  15.808436           NaN  Jan 15
 178      4011     294.0   1.439910  15.122149           NaN  Jan 15
 179      4062     463.0   2.183075  15.016226           NaN  Jan 15
 180      4011     184.0   1.895800   5.213327           NaN  Jan 15
 181      4062     477.0   3.024522  21.116117           NaN  Jan 15

             city
 0    Los Angeles
 1    Los Angeles
 2    Los Angeles
 3    Los Angeles
 4    Los Angeles
 ..           ...
 177  Los Angeles
 178  Los Angeles
 179  Los Angeles
 180  Los Angeles
 181  Los Angeles

 [182 rows x 7 columns],
      prodcode  quantity  price_usd  weight_lb       product    date  \
 0        4412     475.0   0.826161  16.613383  Apple (Fuji)  Jan 16
 1        4323     245.0   2.285888  15.998711  Apple (Gala)  Jan 16
 2        4412     108.0   3.118640   6.054326       Apricot  Jan 16
 3        4404     151.0   1.068933  18.624998       Avocado  Jan 16
 4        4030     352.0   1.326391  21.471979        Banana  Jan 16
 ..        ...       ...        ...        ...           ...     ...
 151      4323     394.0   0.590183  19.268343           NaN  Jan 16
 152      4078     293.0   0.983260  19.880817           NaN  Jan 16
 153      4011     456.0   2.631792   9.645728           NaN  Jan 16
 154      4159     378.0   1.856697  17.900143           NaN  Jan 16
 155      3302     206.0   1.152652  10.498634           NaN  Jan 16

             city
 0    Los Angeles
 1    Los Angeles
 2    Los Angeles
 3    Los Angeles
 4    Los Angeles
 ..           ...
 151  Los Angeles
 152  Los Angeles
 153  Los Angeles
 154  Los Angeles
 155  Los Angeles

 [156 rows x 7 columns],
      prodcode  quantity  price_usd  weight_lb       product    date  \
 0        4309     344.0   1.323782   2.562124  Apple (Fuji)  Jan 17
 1        4012     255.0   2.227156  15.326499  Apple (Gala)  Jan 17
 2        4309     122.0   1.901195   7.769764       Apricot  Jan 17
 3        4078     321.0   2.930922  18.619010       Avocado  Jan 17
 4        4030     119.0   2.302067  19.282550        Banana  Jan 17
 ..        ...       ...        ...        ...           ...     ...
 135      4796     198.0   1.731532   6.258992           NaN  Jan 17
 136      3302     309.0   1.828307   3.359198           NaN  Jan 17
 137      4134     261.0   1.432324  20.588963           NaN  Jan 17
 138      4131     300.0   0.990935   6.654557           NaN  Jan 17
 139      4650     261.0   1.792227   9.469272           NaN  Jan 17

             city
 0    Los Angeles
 1    Los Angeles
 2    Los Angeles
 3    Los Angeles
 4    Los Angeles
 ..           ...
 135  Los Angeles
 136  Los Angeles
 137  Los Angeles
 138  Los Angeles
 139  Los Angeles

 [140 rows x 7 columns],
      prodcode  quantity  price_usd  weight_lb       product    date  \
 0        4030     316.0   2.581120   9.770287  Apple (Fuji)  Jan 18
 1        4225     323.0   1.532991  18.134295  Apple (Gala)  Jan 18
 2        4323     415.0   1.265594  12.412868       Apricot  Jan 18
 3        4225     304.0   2.922872   8.167850       Avocado  Jan 18
 4        4062     495.0   2.928070  16.403543        Banana  Jan 18
 ..        ...       ...        ...        ...           ...     ...
 173      4650     104.0   2.854524  14.853100           NaN  Jan 18
 174      4030     481.0   1.795465  13.119980           NaN  Jan 18
 175      4131     397.0   1.892057  16.821903           NaN  Jan 18
 176      4650     420.0   1.629289  10.745107           NaN  Jan 18
 177      4404     320.0   2.092482  21.110059           NaN  Jan 18

             city
 0    Los Angeles
 1    Los Angeles
 2    Los Angeles
 3    Los Angeles
 4    Los Angeles
 ..           ...
 173  Los Angeles
 174  Los Angeles
 175  Los Angeles
 176  Los Angeles
 177  Los Angeles

 [178 rows x 7 columns],
      prodcode  quantity  price_usd  weight_lb       product    date  \
 0        4958     323.0   1.365349  18.158414  Apple (Fuji)  Jan 19
 1        4134     466.0   2.517890  13.504772  Apple (Gala)  Jan 19
 2        4012     484.0   0.570956  16.752086       Apricot  Jan 19
 3        4272     209.0   1.734207   6.319539       Avocado  Jan 19
 4        4062     194.0   1.144540  17.558802        Banana  Jan 19
 ..        ...       ...        ...        ...           ...     ...
 170      4323     488.0   2.150697   6.999552           NaN  Jan 19
 171      4958     138.0   0.617094  16.318149           NaN  Jan 19
 172      4225     322.0   1.348729  13.250607           NaN  Jan 19
 173      4225     215.0   2.205950   7.484484           NaN  Jan 19
 174      4272     277.0   0.964960  16.554942           NaN  Jan 19

             city
 0    Los Angeles
 1    Los Angeles
 2    Los Angeles
 3    Los Angeles
 4    Los Angeles
 ..           ...
 170  Los Angeles
 171  Los Angeles
 172  Los Angeles
 173  Los Angeles
 174  Los Angeles

 [175 rows x 7 columns],
      prodcode  quantity  price_usd  weight_lb       product   date  \
 0        4796     426.0   2.313120  18.817384  Apple (Fuji)  Jan 2
 1        4012     378.0   1.919324  17.225771  Apple (Gala)  Jan 2
 2        4012     475.0   2.714729   8.453261       Apricot  Jan 2
 3        4272     144.0   2.024742  13.366964       Avocado  Jan 2
 4        4323     411.0   2.126884  10.165291        Banana  Jan 2
 ..        ...       ...        ...        ...           ...    ...
 137      4309     356.0   0.657313  21.538040           NaN  Jan 2
 138      3302     360.0   0.965844  11.187798           NaN  Jan 2
 139      4404     327.0   2.956508  11.618047           NaN  Jan 2
 140      4796     469.0   0.950238  17.191662           NaN  Jan 2
 141      4012     338.0   2.457001  11.880356           NaN  Jan 2

             city
 0    Los Angeles
 1    Los Angeles
 2    Los Angeles
 3    Los Angeles
 4    Los Angeles
 ..           ...
 137  Los Angeles
 138  Los Angeles
 139  Los Angeles
 140  Los Angeles
 141  Los Angeles

 [142 rows x 7 columns],
      prodcode  quantity  price_usd  weight_lb       product    date  \
 0        4225     189.0   1.201365   3.356004  Apple (Fuji)  Jan 20
 1        4012     170.0   3.049932   9.041371  Apple (Gala)  Jan 20
 2        4159     382.0   2.016417  15.642238       Apricot  Jan 20
 3        4404     159.0   0.722139  13.124328       Avocado  Jan 20
 4        4796     421.0   0.856733  14.025881        Banana  Jan 20
 ..        ...       ...        ...        ...           ...     ...
 178      4796     162.0   1.345620   7.441531           NaN  Jan 20
 179      4159     171.0   2.891255  13.204868           NaN  Jan 20
 180      4078     374.0   1.625186  17.785300           NaN  Jan 20
 181      4159     471.0   0.572786  20.683639           NaN  Jan 20
 182      4062     446.0   2.855127   9.502355           NaN  Jan 20

             city
 0    Los Angeles
 1    Los Angeles
 2    Los Angeles
 3    Los Angeles
 4    Los Angeles
 ..           ...
 178  Los Angeles
 179  Los Angeles
 180  Los Angeles
 181  Los Angeles
 182  Los Angeles

 [183 rows x 7 columns],
      prodcode  quantity  price_usd  weight_lb       product    date  \
 0        4131     460.0   1.699907   6.150200  Apple (Fuji)  Jan 21
 1        4012     243.0   0.607363  13.595054  Apple (Gala)  Jan 21
 2        4030     245.0   2.360715  20.185372       Apricot  Jan 21
 3        4404     474.0   2.049214  21.069809       Avocado  Jan 21
 4        4796     118.0   2.260783   5.991531        Banana  Jan 21
 ..        ...       ...        ...        ...           ...     ...
 175      4081     358.0   3.263337  14.808601           NaN  Jan 21
 176      4272     277.0   2.072227  12.734508           NaN  Jan 21
 177      4272     393.0   2.260045   2.607003           NaN  Jan 21
 178      3302     483.0   1.695481  13.405836           NaN  Jan 21
 179      4131     175.0   3.241299  17.368022           NaN  Jan 21

             city
 0    Los Angeles
 1    Los Angeles
 2    Los Angeles
 3    Los Angeles
 4    Los Angeles
 ..           ...
 175  Los Angeles
 176  Los Angeles
 177  Los Angeles
 178  Los Angeles
 179  Los Angeles

 [180 rows x 7 columns],
      prodcode  quantity  price_usd  weight_lb       product    date  \
 0        4650     366.0   2.821222  16.159794  Apple (Fuji)  Jan 22
 1        4412     461.0   2.186482  13.726635  Apple (Gala)  Jan 22
 2        4650     333.0   2.791691   3.786991       Apricot  Jan 22
 3        4078     368.0   2.033560  18.187202       Avocado  Jan 22
 4        4062     188.0   3.181113  15.187852        Banana  Jan 22
 ..        ...       ...        ...        ...           ...     ...
 143      4412     186.0   2.632484  20.929434           NaN  Jan 22
 144      4404     241.0   2.860635  16.702127           NaN  Jan 22
 145      4134     134.0   2.966594   4.011706           NaN  Jan 22
 146      4309     401.0   2.715421  13.337682           NaN  Jan 22
 147      4012     242.0   2.249888  15.702894           NaN  Jan 22

             city
 0    Los Angeles
 1    Los Angeles
 2    Los Angeles
 3    Los Angeles
 4    Los Angeles
 ..           ...
 143  Los Angeles
 144  Los Angeles
 145  Los Angeles
 146  Los Angeles
 147  Los Angeles

 [148 rows x 7 columns],
      prodcode  quantity  price_usd  weight_lb       product    date  \
 0        4958     263.0   2.880092  12.163276  Apple (Fuji)  Jan 23
 1        4012     197.0   2.753262  10.531266  Apple (Gala)  Jan 23
 2        4309     433.0   1.352702  21.850957       Apricot  Jan 23
 3        4650     100.0   2.423825   7.294774       Avocado  Jan 23
 4        4796     212.0   1.888905   7.582467        Banana  Jan 23
 ..        ...       ...        ...        ...           ...     ...
 178      4134     321.0   2.200294   5.487040           NaN  Jan 23
 179      4131     443.0   1.159509  17.515313           NaN  Jan 23
 180      4011     219.0   2.544558  10.795756           NaN  Jan 23
 181      4134     183.0   0.588045  10.748229           NaN  Jan 23
 182      4011     499.0   2.953394   3.655674           NaN  Jan 23

             city
 0    Los Angeles
 1    Los Angeles
 2    Los Angeles
 3    Los Angeles
 4    Los Angeles
 ..           ...
 178  Los Angeles
 179  Los Angeles
 180  Los Angeles
 181  Los Angeles
 182  Los Angeles

 [183 rows x 7 columns],
      prodcode  quantity  price_usd  weight_lb       product    date  \
 0        4272     189.0   2.832937   3.090295  Apple (Fuji)  Jan 24
 1        4131     289.0   2.772390   4.285152  Apple (Gala)  Jan 24
 2        4131     111.0   1.838233  11.240510       Apricot  Jan 24
 3        4012     256.0   3.193080  17.163008       Avocado  Jan 24
 4        4012     105.0   1.962936  10.141387        Banana  Jan 24
 ..        ...       ...        ...        ...           ...     ...
 118      4796     102.0   2.876263  10.647726           NaN  Jan 24
 119      4134     205.0   0.772197  12.930252           NaN  Jan 24
 120      4030     144.0   3.130639   5.065698           NaN  Jan 24
 121      4011     201.0   2.534093   4.318953           NaN  Jan 24
 122      4131     277.0   2.934283   6.739971           NaN  Jan 24

             city
 0    Los Angeles
 1    Los Angeles
 2    Los Angeles
 3    Los Angeles
 4    Los Angeles
 ..           ...
 118  Los Angeles
 119  Los Angeles
 120  Los Angeles
 121  Los Angeles
 122  Los Angeles

 [123 rows x 7 columns],
      prodcode  quantity  price_usd  weight_lb       product    date  \
 0        4796     404.0   3.119839  18.053783  Apple (Fuji)  Jan 25
 1        4131     329.0   2.088185  14.325047  Apple (Gala)  Jan 25
 2        4272     464.0   0.914424  17.760741       Apricot  Jan 25
 3        4012     259.0   0.726992   8.030326       Avocado  Jan 25
 4        4134     212.0   1.803607  14.333122        Banana  Jan 25
 ..        ...       ...        ...        ...           ...     ...
 169      4081     247.0   1.852730   3.037000           NaN  Jan 25
 170      4796     435.0   2.178750   4.759077           NaN  Jan 25
 171      4309     448.0   0.657897  11.999045           NaN  Jan 25
 172      4225     391.0   2.330631  14.747547           NaN  Jan 25
 173      4062     476.0   0.714468  12.934416           NaN  Jan 25

             city
 0    Los Angeles
 1    Los Angeles
 2    Los Angeles
 3    Los Angeles
 4    Los Angeles
 ..           ...
 169  Los Angeles
 170  Los Angeles
 171  Los Angeles
 172  Los Angeles
 173  Los Angeles

 [174 rows x 7 columns],
      prodcode  quantity  price_usd  weight_lb       product    date  \
 0        4081     265.0   2.103796  16.456020  Apple (Fuji)  Jan 26
 1        4404     184.0   2.153608  16.185427  Apple (Gala)  Jan 26
 2        3302     221.0   3.032071   7.301554       Apricot  Jan 26
 3        4062     246.0   2.247688  17.920340       Avocado  Jan 26
 4        4081     424.0   2.111529  12.392359        Banana  Jan 26
 ..        ...       ...        ...        ...           ...     ...
 152      4134     340.0   2.946071   3.553658           NaN  Jan 26
 153      4958     388.0   3.228524  11.216101           NaN  Jan 26

### Step 5: Concatenate all DataFrames from Step 4 into one large DataFrame
* _Hint:_ Is there a function in `pandas` that can do something like this for us? This is also just one line of code!

In [17]:
la_df = pd.concat(city_df)

In [18]:
la_df

,prodcode,quantity,price_usd,weight_lb,product,date,city
0,4134,315.0,1.983693,15.635404,Apple (Fuji),Jan 1,Los Angeles
1,4011,429.0,2.097058,21.389947,Apple (Gala),Jan 1,Los Angeles
2,4062,365.0,1.921736,4.941165,Apricot,Jan 1,Los Angeles
3,4159,287.0,2.009768,11.120917,Avocado,Jan 1,Los Angeles
4,4404,444.0,1.603627,11.893485,Banana,Jan 1,Los Angeles
...,...,...,...,...,...,...,...
123,4323,236.0,0.885784,19.235559,NaN,Jan 9,Los Angeles
124,4062,336.0,1.089004,19.423737,NaN,Jan 9,Los Angeles
125,4011,170.0,1.651145,17.931241,NaN,Jan 9,Los Angeles
126,4796,329.0,2.381774,14.297728,NaN,Jan 9,Los Angeles
127,4412,128.0,0.774314,15.419933,NaN,Jan 9,Los Angeles

### Step 6: Do this for all cities, write data
Here's the big one. For each city, process and the data as in steps 3-5, and then write the data to our `output` folder. Below is a dictionary of city name to desired output file name.

Before writing your DataFrame, do the following:
* Add a `city` column
* Reorder the columns into the following order:


| city | date | product | prodcode | quantity | weight_lb | price_usd |
|---|---|---|---|---|---|---|

* _Hint:_ You can reorder DataFrame columns simply by writing over your DataFrame with itself, but specifying the specific column order with `.loc`. For example:

`print(df)`

| b | c | a |
|---|---|---|
| 1 | 2 | 3 |

`df = df.loc[:, ["a", "b", "c"]]`

`print(df)`

| a | b | c |
|---|---|---|
| 3 | 1 | 2 |

In [19]:
city2_df =[process_data('data/'+file,'Atlanta') for file in files]

C:\Users\dmarm\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:214: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [20]:
city3_df =[process_data('data/'+file,'Austin') for file in files]

In [21]:
city4_df =[process_data('data/'+file,'Boston') for file in files]

In [22]:
city5_df =[process_data('data/'+file,'Chicago') for file in files]

In [23]:
city6_df =[process_data('data/'+file,'Denver') for file in files]

In [24]:
city7_df =[process_data('data/'+file,'New York') for file in files]

In [25]:
city8_df =[process_data('data/'+file,'San Francisco') for file in files]

In [26]:
city9_df =[process_data('data/'+file,'Seattle') for file in files]

In [27]:
city10_df =[process_data('data/'+file,'Washington, DC') for file in files]

In [28]:
atl_df = pd.concat(city2_df)

In [29]:
austin_df = pd.concat(city3_df)

In [30]:
bos_df = pd.concat(city4_df)

In [31]:
chi_df = pd.concat(city5_df)

In [32]:
den_df = pd.concat(city6_df)

In [33]:
ny_df = pd.concat(city7_df)

In [34]:
sf_df = pd.concat(city8_df)

In [35]:
sea_df = pd.concat(city9_df)

In [36]:
dc_df = pd.concat(city10_df)

In [37]:
la_df = la_df.loc[:,['city', 'date', 'product', 'prodcode', 'quantity', 'weight_lb', 'price_usd']]

In [38]:
atl_df = atl_df.loc[:,['city', 'date', 'product', 'prodcode', 'quantity', 'weight_lb', 'price_usd']]

In [39]:
austin_df = la_df.loc[:,['city', 'date', 'product', 'prodcode', 'quantity', 'weight_lb', 'price_usd']]

In [40]:
bos_df = bos_df.loc[:,['city', 'date', 'product', 'prodcode', 'quantity', 'weight_lb', 'price_usd']]

In [41]:
chi_df = chi_df.loc[:,['city', 'date', 'product', 'prodcode', 'quantity', 'weight_lb', 'price_usd']]

In [42]:
den_df = den_df.loc[:,['city', 'date', 'product', 'prodcode', 'quantity', 'weight_lb', 'price_usd']]

In [43]:
ny_df = ny_df.loc[:,['city', 'date', 'product', 'prodcode', 'quantity', 'weight_lb', 'price_usd']]

In [44]:
sf_df = sf_df.loc[:,['city', 'date', 'product', 'prodcode', 'quantity', 'weight_lb', 'price_usd']]

In [45]:
sea_df = sea_df.loc[:,['city', 'date', 'product', 'prodcode', 'quantity', 'weight_lb', 'price_usd']]

In [46]:
dc_df = dc_df.loc[:,['city', 'date', 'product', 'prodcode', 'quantity', 'weight_lb', 'price_usd']]

In [47]:
dc_df.head()

,city,date,product,prodcode,quantity,weight_lb,price_usd
0,"Washington, DC",Jan 1,Apple (Fuji),4011,182.0,2.476043,1.578451
1,"Washington, DC",Jan 1,Apple (Gala),4404,363.0,3.097204,3.170313
2,"Washington, DC",Jan 1,Apricot,4272,309.0,10.484605,0.601788
3,"Washington, DC",Jan 1,Avocado,4131,354.0,14.948032,2.234031
4,"Washington, DC",Jan 1,Banana,4240,347.0,6.551917,1.824828

In [66]:
for file in files: 
    print(file)

Jan 1.xlsx
Jan 10.xlsx
Jan 11.xlsx
Jan 12.xlsx
Jan 13.xlsx
Jan 14.xlsx
Jan 15.xlsx
Jan 16.xlsx
Jan 17.xlsx
Jan 18.xlsx
Jan 19.xlsx
Jan 2.xlsx
Jan 20.xlsx
Jan 21.xlsx
Jan 22.xlsx
Jan 23.xlsx
Jan 24.xlsx
Jan 25.xlsx
Jan 26.xlsx
Jan 27.xlsx
Jan 28.xlsx
Jan 29.xlsx
Jan 3.xlsx
Jan 30.xlsx
Jan 31.xlsx
Jan 4.xlsx
Jan 5.xlsx
Jan 6.xlsx
Jan 7.xlsx
Jan 8.xlsx
Jan 9.xlsx

In [78]:
for city, file_out in city_dict.items():
    data_list = [process_data(file, city) for file in files]
    data_full = pd.concat(data_list, axis=0)
    data_full["city"] = city
    data_full = data_full.loc[:, 
        ["city", "date", "product", "prodcode", "quantity", "weight_lb", "price_usd"]
    ]
    data_full.to_csv("/users/dmarm/downloads/excellab" + file_out, index=False) #worked on with John

In [75]:
city_dict = {
    "Atlanta": "atl.csv",
    "Austin": "atx.csv",
    "Boston": "bos.csv",
    "Chicago": "chi.csv",
    "Denver": "den.csv",
    "Los Angeles": "lax.csv",
    "New York": "nyc.csv",
    "San Francisco": "sf.csv",
    "Seattle": "sea.csv",
    "Washington, DC": "dc.csv"
}

In [51]:
# Loop through city_dict and carry out Step 6 here.
# The keys of city_dict can serve as the sheet name.
# The values of city_dict are what you should name the output .csv files.
# If done correctly, this cell could take almost a minute to run!

# Part II: Checking our answers 
In steps very similar to the ones conducted above...
1. Loop through the files we just wrote to `output`, and read them in, collecting them all in one list
1. Combine all of those DataFrames into one large DataFrame
1. For each city, find the mean `quantity`, `weight_lb`, and `price_usd`.

If you've done everything correct, your answer should look exactly like this:

![](imgs/correct-output.png)

In [83]:
At = pd.read_csv('/users/dmarm/downloads/excellabatl.csv')

In [84]:
Au = pd.read_csv('/users/dmarm/downloads/excellabatx.csv')

In [86]:
Bo = pd.read_csv('/users/dmarm/downloads/excellabbos.csv')

In [87]:
Ch = pd.read_csv('/users/dmarm/downloads/excellabchi.csv')

In [88]:
De = pd.read_csv('/users/dmarm/downloads/excellabden.csv')

In [89]:
La = pd.read_csv('/users/dmarm/downloads/excellablax.csv')

In [90]:
Ny = pd.read_csv('/users/dmarm/downloads/excellabnyc.csv')

In [91]:
Sf = pd.read_csv('/users/dmarm/downloads/excellabsf.csv')

In [92]:
Se = pd.read_csv('/users/dmarm/downloads/excellabsea.csv')

In [93]:
Dc = pd.read_csv('/users/dmarm/downloads/excellabdc.csv')

In [95]:
df_list =[]

In [97]:
df_list.append(At)

In [98]:
df_list.append(Au)

In [99]:
df_list.append(Bo)

In [100]:
df_list.append(Ch)

In [101]:
df_list.append(De)

In [102]:
df_list.append(La)

In [103]:
df_list.append(Ny)

In [104]:
df_list.append(Sf)

In [105]:
df_list.append(Se)

In [106]:
df_list.append(Dc)

In [107]:
df = pd.concat(df_list)

In [110]:
df.groupby('city')['quantity'].mean()

city
Atlanta           302.485306
Austin            301.048298
Boston            298.806536
Chicago           301.686186
Denver            301.012745
Los Angeles       301.531276
New York          299.482863
San Francisco     298.979895
Seattle           300.333694
Washington, DC    300.576421
Name: quantity, dtype: float64

In [111]:
df.groupby('city')['weight_lb'].mean()

city
Atlanta           11.929027
Austin            12.092775
Boston            12.063057
Chicago           12.101555
Denver            12.129850
Los Angeles       12.167527
New York          12.090294
San Francisco     12.237399
Seattle           11.925486
Washington, DC    11.930747
Name: weight_lb, dtype: float64

In [112]:
df.groupby('city')['price_usd'].mean()

city
Atlanta           1.937980
Austin            1.937456
Boston            1.900973
Chicago           1.930026
Denver            1.932088
Los Angeles       1.918331
New York          1.912662
San Francisco     1.925830
Seattle           1.903315
Washington, DC    1.943107
Name: price_usd, dtype: float64

# Part III (BONUS): Get this process production-ready!
_This part of the lab is optional, but very highly recommended, as the skills developed in this part are extremely common in industry._

For this step, we're going to take this whole process and put it into a production-ready Python script. **ABSOLUTELY NONE OF THIS STEP SHOULD TAKE PLACE IN A JUPYTER NOTEBOOK! PRODUCTIONALIZED ETL (_"Extract, Transform, Load"_) CODE DOES NOT TAKE PLACE IN A JUPYTER NOTEBOOK!**

The instructions are simple: As conducted in this lab, read, transform, and export the data in our Excel files into .csv files. The code should be in a `.py` file and executable from the command line. Here are some hints and tips to guide you:

### Hints, tips, and tricks:
* A good place to start is with the code you've already written. In this notebook, you can click `File > Download as > Python (.py)` to export as a `.py` file. Most of this exercise then comes down to you cleaning this file. (There will be a lot to clean).
* Remember `os.mkdir()` will throw an error if the folder you're trying to make already exists. Maybe you should check to see if it already exists. If it already exists, what should you do? (Remember that `.csv` can be overwritten with no problem.) The functions that can help you with this are all in the `os` library.
* Remember to follow all of the Python best practices we've already learned:
    - All import statements should go at the top of your script.
    - Comment your code. Comments shouldn't explain _what_ code does, but _why_ the code does this.
    - Keep your code DRY (don't repeat yourself) as opposed to WET (write everything twice). All constants should be variables that only need to be changed once. All code should be bottled into functions so you only need to fix it once.
* Make sure not to hardcode "Jan" anywhere. The point is that this code can be run throughout the lifetime of this supermarket's project, which is likely months or years. Keep your code so that if you get February data, you only need to change one tiny piece of the script (probably a file path).